# torch
torch==2.6.0
torchvision==0.21.0

# FastAPI
fastapi
fastapi_mcp
uvicorn

# Hugging Face
transformers
pillow
sentence_transformers

# langchain
langchain
langchain_openai
langchain_cohere
langchain_community
langchain_core
langchain_chroma
langchain_postgres

# Others
requests
types_requests
chromadb
beautifulsoup4
lxml
openai
psycopg_binary
PyMuPDF
unstructured
markdown
streamlit